.Tafe-RED{
background-color: #c3262f !important;
color: #fff !important;
}

.Tafe-mid-RED{
background-color: #EB724B !important;
color: #fff !important;
}

.Tafe-light-RED{
background-color: #F8CABC !important;
color: #000 !important;
}

.Tafe-GREY{
background-color: #333333 !important;
color: #fff !important;
}

.Tafe-light-GREY{
background-color: #999999 !important;
color: #fff !important;
}